package com.example.yourapp.data.services

import com.les.databuoy.ServiceRequestTag

enum class YourModelRequestTag(override val value: String) : ServiceRequestTag {
    CREATE("create"),
    UPDATE("update"),
    VOID("void"),
}
